<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>393149076304-41n11u2tgi35m26keul1vdcval9dq5kr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.393149076304-41n11u2tgi35m26keul1vdcval9dq5kr</string>
	<key>API_KEY</key>
	<string>AIzaSyDAJAjHIbyZ_UCzZpAExHdDBbH43-CwIhA</string>
	<key>GCM_SENDER_ID</key>
	<string>393149076304</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appFirst</string>
	<key>PROJECT_ID</key>
	<string>project-online-medicine</string>
	<key>STORAGE_BUCKET</key>
	<string>project-online-medicine.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:393149076304:ios:fad5b5fb04bd16a188d255</string>
	<key>DATABASE_URL</key>
	<string>https://project-online-medicine-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>